.footerSpace {
    width: 100%;
    letter-spacing: 1px;

    background-image: url("../../assets/footer/footerBackground.png"); /* The image used */
    background-color: #121212;
    /*background-color: #cccccc; !* Used if the image is unavailable *!*/
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.footerSpaceBackgroundImageCover {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(18, 18, 18, 0.8);
}

.footer {
    height: 770px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.footerCard {
    height: 350px;
    width: 300px;
    margin: 20px 0 20px 0;
    padding: 20px;
    box-shadow: whitesmoke 0 0 3px 1px;
    border-radius: 10px;
}

.footerCardTitle {
    font-family: 'Source Code Pro', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
    margin: 30px 0 30px 0;
}

.footerCardBody {
    margin: 30px 0 30px 0;
    font-family: 'Nunito', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #FFFFFF;
}

.footerCardBodyText {
    padding: 5px;
}

.footerEmailLabel {
    margin: 10px 0 10px 0;
    color: whitesmoke;
}

.footerFormButton {
    width: 100%;
    height: 47px;
    background: #0D90C2;
    color: whitesmoke;
    cursor: pointer;
    transition: all 1s ease-in-out;
    margin: 20px 0 20px 0;
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
}

.footerFormButton:hover {
    transition: .3s;
    background: #ffffff;
    color: #000000;
}

.footerIconSpace {
    display: flex;
    align-items: center;
}

.footerIcon {
    margin: 0 5px 0 5px;
    cursor: pointer;
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(57deg) brightness(105%) contrast(101%);
}

.footerIcon:hover {
    filter: brightness(0) saturate(100%) invert(65%) sepia(64%) saturate(3694%) hue-rotate(359deg) brightness(101%) contrast(102%);
}

@media (max-width: 768px) {
    .footer {
        height: 1600px;
    }
}