.navigationBackgroundImage {
    background-image: url("../../assets/navigation/navigationBackground.png");
    background-color: #cccccc;
    height: 1137px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navigationBackgroundImageCover {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(18, 18, 18, 0.8);
}